<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.streethawk.growth" version="1.8.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>StreetHawkGrowth</name>
	<description>StreetHawk Growth feature lets your user share your application with friends. Also the feature can be extended to invite the new user to a deeplinked page inside your application. Create a Share button inside your application and call InviteFriendsToDownloadApplication to generate the share url. StreetHawk SDK will then ask user ways to share the generated url. That is (email, post on Facebook etc). Below are the APIs which generates sharable URL. A scheme for deeplinking is required for StreetHawk growth. </description>
    <license>Apache 2.0</license>
    <keywords>push,messaging,deeplinking,referral,analytics,geofencing,beacons,marketing,automation,organic growth,feeds</keywords>
	<repo>https://github.com/streethawkphonegap/StreethawkPlugin</repo>
	<issue>support@streethawk.com</issue>
	<platform name="ios">		
		
		<!-- Enable preprocessor macro SH_FEATURE_GROWTH -->
		<hook type="after_plugin_install" src="src/ios/Script/enable_feature.js" />
		<hook type="before_plugin_uninstall" src="src/ios/Script/disable_feature.js" />
               
        <!-- Plugin native SDK -->
        <header-file src="src/ios/SDK/Growth/Private/SHGrowth.h" />
        <source-file src="src/ios/SDK/Growth/Private/SHGrowth.m" />
        <header-file src="src/ios/SDK/Growth/Private/SHGrowthBridge.h" />
        <source-file src="src/ios/SDK/Growth/Private/SHGrowthBridge.m" />
        <header-file src="src/ios/SDK/Growth/Publish/SHApp+Growth.h" />
        <source-file src="src/ios/SDK/Growth/Publish/SHApp+Growth.m" />
        
        <!-- Add frameworks -->        
        <framework src="Social.framework" />
        <framework src="MessageUI.framework" />
		
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="StreetHawkGrowth">
				<param name="android-package" value="com.streethawk.growth"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		   
		 </config-file>
		 
		<config-file parent="/manifest" target="AndroidManifest.xml">
     		<uses-permission android:name="android.permission.INTERNET" />
    		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
		 <receiver
            android:name="com.streethawk.library.growth.Register"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.streethawk.growth.GrowthWrapper"
            android:enabled="true"
            android:exported="true" />
		</config-file>
		 <source-file src="src/android/streethawkgrowth.jar" target-dir="libs/"/>
		<source-file src="src/android/GrowthWrapper.java" target-dir="src/com/streethawk/StreetHawkGrowth"/>
	</platform>
	<info>
	 StreetHawk Growth plugin depends on StreetHawk core plugin. 
	 Install core plugin by using command
	  
	 cordova plugin add streethawkanalytics --variable APP_KEY=APP_KEY --variable URL_SCHEME=SCHEME
	
	Note: In the above command replace 
	APP_KEY with your application's app_key.
	SCHEME with your application's deeplink scheme.
	
	</info>
</plugin>
